{{ partial "header" . }}

<div class="container">
  <h1 class="title">Have something to tweet?</h1>

  <div class="form-container shadow">
    <form class="user-content-submission form" name="tweet suggestions" action="thank-you"
      method="post" netlify>
      <div class="input-group">
        <label>Is this a new tweet, a retweet, or a quoted tweet?</label>
        <br />
        <br />
        <select name="topic" style="width:100%" class="problem" required>
          <option value="" disabled="" selected=""></option>
          <option class="option" name="type" value="new">New Tweet</option>
          <option class="option" name="type" value="retweet">Retweet</option>
          <option class="option" name="type" value="retweet">Quote</option>
        </select>
        <br />
        <br />
        <input type="text" name="submittedby" class="boxed-input light-shadow utility-input" placeholder="Who is submitting this?" autofocus required></input>
        <br />
        <textarea style="min-width: 285px;min-height: 100px" class="boxed-input
          text-box light-shadow utility-input" type="text"
                                               name="tweet" placeholder="What do you want tweeted?">
        </textarea>
        <br />
        <p class="disclosure">
          Your submission will be added to the buffer queue. If this is more
          timely consider checking 1pass for the <a href="https://buffer.com/app/profile/52c701470a0e32ca48000002/buffer/queue/list">buffer</a> login to bypass the
          queue.
        </p>
        <button>Send</button>
      </div>
    </form>
    <div class="shadow"></div>
  </div>
</div>

{{ partial "footer" . }}
