{{ partial "header" . }}

<div class="ui container" style="margin-left:auto; margin-right:auto; padding: 10px; max-width: 420px">
  <h1 class="title">Enter your info to win</h1>

  <div class="card-ui">
    <form class="user-content-submission form" name="something" action="thank-you"
      method="post" netlify>
      <div class="input-group">
        <input type="text" name="name" class="boxed-input light-shadow
                                       utility-input" placeholder="Name"
        autofocus required></input>
        <br />
        <input type="text" name="email" class="boxed-input light-shadow utility-input" placeholder="Email"
        autofocus required></input>
        <br />
        <input type="text" name="github" class="utility-input"
        placeholder="GitHub Username" required></input>
        <br />
        <input type="text" name="twitter" class="utility-input"
        placeholder="Twitter Handle" required></input>
        <br />
        <br />
        <textarea style="min-width: 285px;min-height: 150px" class="boxed-input text-box light-shadow utility-input" type="text" placeholder="What do you use for Continuous deployments today?" name="notes"></textarea>
        <br />
        <label>Have you heard about the JAMstack?</label>
        <br />
        <br />
        <select name="topic" style="max-with:100px" class="problem" required>
          <option value="" disabled="" selected=""></option>
          <option class="option" name="featureOption" value="yes">Yes</option>
          <option class="option" name="featureOption" value="no">No</option>
        </select>
        <br />
        <br />
        <input type="submit" href="#" class="button-pop-primary"></input>
      </div>
    </form>
  </div>
</div>

{{ partial "footer" . }}
